@model System.Data.DataTable
@{
    ViewData["Title"] = "Cold Storage 1";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="jumbotron-fluid bg-light">
    <h2 class="text-left">@ViewData["Title"]</h2>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4>Kanban A</h4>
            <ejs-kanban id="kanbanA" keyField="RackToBay" dataSource="((System.Data.DataTable)ViewBag.datasource)" externalDropId="@ViewBag.externalDropIdA" dragStop="onDragStopA">
                <e-kanban-columns>
                    <e-kanban-column headerText="1st Bay" keyField="Rack 1 Bay 1" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                    <e-kanban-column headerText="2nd Bay" keyField="Rack 1 Bay 2" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                    <e-kanban-column headerText="3rd Bay" keyField="Rack 1 Bay 3" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                    <e-kanban-column headerText="4th Bay" keyField="Rack 1 Bay 4" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                    <e-kanban-column headerText="5th Bay" keyField="Rack 1 Bay 5" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                </e-kanban-columns>
                <e-kanban-cardsettings headerField="ReferenceCode" contentField="StockDescription"></e-kanban-cardsettings>
            </ejs-kanban>
        </div>
        <div class="col-md-6">
            <h4>Kanban B</h4>
            <ejs-kanban id="kanbanB" keyField="RackToBay" dataSource="((System.Data.DataTable)ViewBag.datasource)" externalDropId="@ViewBag.externalDropIdB" dragStop="onDragStopB">
                <e-kanban-columns>
                    <e-kanban-column headerText="1st Bay" keyField="Rack 1 Bay 1" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                    <e-kanban-column headerText="2nd Bay" keyField="Rack 1 Bay 2" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                    <e-kanban-column headerText="3rd Bay" keyField="Rack 1 Bay 3" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                    <e-kanban-column headerText="4th Bay" keyField="Rack 1 Bay 4" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                    <e-kanban-column headerText="5th Bay" keyField="Rack 1 Bay 5" showItemCount="false" allowToggle="true" isExpanded="true"></e-kanban-column>
                </e-kanban-columns>
                <e-kanban-cardsettings headerField="ReferenceCode" contentField="StockDescription"></e-kanban-cardsettings>
            </ejs-kanban>
        </div>
    </div>
</div>
<script>
    function onDragStopA(args) {
        var kanbanObjA = document.querySelector("#kanbanA").ej2_instances[0];
        var kanbanObjB = document.querySelector("#kanbanB").ej2_instances[0];
        if (ej.base.closest(args.event.target, '#kanbanB')) {
            kanbanObjA.deleteCard(args.data);
            args.data.forEach(function (card, i) {
                var index = kanbanObjB.kanbanData.findIndex(function (colData) {
                    return colData[kanbanObjB.cardSettings.headerField] === card[kanbanObjB.cardSettings.headerField];
                });
                if (index !== -1) {
                    card[kanbanObjB.cardSettings.headerField] = Math.max.apply(Math, kanbanObjB.kanbanData.map(function (obj) { return parseInt(obj[kanbanObjB.cardSettings.headerField], 10); })) + ++i;
                }
            });
            kanbanObjB.addCard(args.data, args.dropIndex);
            args.cancel = true;
        }
    }
    function onDragStopB(args) {
        var kanbanObjA = document.querySelector("#kanbanA").ej2_instances[0];
        var kanbanObjB = document.querySelector("#kanbanB").ej2_instances[0];
        if (ej.base.closest(args.event.target, '#kanbanA')) {
            kanbanObjB.deleteCard(args.data);
            args.data.forEach(function (card, i) {
                var index = kanbanObjA.kanbanData.findIndex(function (colData) {
                    return colData[kanbanObjA.cardSettings.headerField] === card[kanbanObjA.cardSettings.headerField];
                });
                if (index !== -1) {
                    card[kanbanObjA.cardSettings.headerField] = Math.max.apply(Math, kanbanObjA.kanbanData.map(function (obj) { return parseInt(obj[kanbanObjA.cardSettings.headerField], 10); })) + ++i;
                }
            });
            kanbanObjA.addCard(args.data, args.dropIndex);
            args.cancel = true;
        }
    }
</script>


<script id="swimlaneTemplate" type="text/x-jsrender">
    <div class='swimlane-template e-swimlane-template-table'>
        <div class="e-swimlane-row-text"><span>Level: ${textField}</span></div>
    </div>
</script>



<script id='dialogTemplate' type='text/x-template'>
    <table>
        <tbody>
            <tr>
                <td class="e-label">StockDescription</td>
                <td>
                    <input id="StockDescription" name="StockDescription" type="text" class="e-field" value="${StockDescription}" required />
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script id="cardTemplate" type="text/x-template">
        <div class='card-template'>
            <div class='card-template-wrap'>
                <table class='card-template-wrap'>
                    <colgroup>
                        <col style="width:200px">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class='e-title'>
                            <div class="e-card-stacked">
                                <div class='e-card-header'>
                                    <div class='e-card-header-caption'>
                                        <div class='e-card-header-title e-tooltip-text'>${StockSKU} - ${StockDescription}</div>
                                    </div>
                                </div>
                            </div>
                            </td>
                        </tr>
                        <tr><td>
                            <div class="e-card-content" style="line-height:2.75em">
                                <table class='card-template-wrap'>
                                      <tbody>
                                        </tr>
                                        <tr class='e-tooltip-text'>
                                            <td colspan="2"><div class='e-description'>${Qty} pcs / ${Actual Weight} ${UOM}</div></td>
                                        </tr>
                                        <tr class="e-tooltip-text">
                                            <td><div class='e-size e-tooltip-text'>${CustomerName}</div></td>
                                            <td><div class='e-price e-tooltip-text'>${Qty}</div></td>
                                        </tr>
                                      </tbody>
                                </table>
                                </td></tr>
                            </div>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script>
    var kanbanObj;

    function onKanbanCreated() {
        kanbanObj = this;
    }
    function onDialogOpen() {

    }
    function onDialogClose() {

    }
</script>


<style type="text/css">
    .swimlane-template {
        font - size: 15px;
        font-weight: 500;
    }

        .swimlane-template img {
            height: 24px;
            width: 24px;
            border-radius: 50%;
        }

        .swimlane-template span {
            padding - left: 10px;
        }

    .e-kanban .e-prepare,
    .e-kanban .e-price {
        text - align: right;
    }

    .e-kanban .e-card table {
        table - layout: fixed;
    }

    .e-kanban .e-time {
        display: inline-flex;
    }

    .e-kanban .e-size {
        color: #b8860b
    }

    .e-kanban .e-date {
        display: contents;
    }

    .e-kanban .e-kanban-date {
        padding - left: 4px;
    }

    .e-kanban .e-mins {
        padding - left: 3px;
    }

    .e-kanban .e-clock {
        padding - top: 2px;
    }

        .e-kanban .e-clock::before {
            content: '\e20c';
            color: #ffa500;
            font-size: 10px;
        }

    .e-kanban .e-done::before {
        content: '\ea84';
        color: #008000;
        font-size: 16px;
    }

    .fabric .e-kanban .e-clock::before {
        content: '\e97f';
    }

    .bootstrap .e-kanban .e-clock::before {
        content: '\e93e';
    }

    .bootstrap4 .e-kanban .e-clock::before {
        content: '\e7c7';
    }

    .bootstrap4 .e-kanban .e-done::before {
        content: '\e7d9';
    }

    .highcontrast .e-kanban .e-clock::before {
        content: '\e97f';
    }

    .e-kanban .card-template-wrap {
        color: burlywood;
        line-height: normal;
        font-size: 12px;
        width: 100%;
    }

        .e-kanban .card-template-wrap td {
            background: none !important;
            border: none !important;
            height: auto !important;
            line-height: 1.6;
        }

    .e-kanban .e-image img {
        background: #ececec;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }

    .e-kanban .e-image {
        padding - right: 5px;
        padding-left: 10px;
    }

    .e-kanban .card-header {
        font - size: 15px;
        font-weight: 500;
        display: inline-block;
    }

    .e-kanban .e-card .card-content {
        display: flex;
        justify-content: space-between;
    }

    .e-kanban .e-description {
        padding - top: 5px;
        padding-bottom: 10px;
    }

    .e-kanban .e-card .e-done {
        padding - top: 5px;
        padding-bottom: 10px;
        position: absolute;
        right: 15px;
    }

    .e-kanban .e-readyText {
        color: #008000;
    }

    .e-kanban .e-preparingText {
        color: #9ACD32;
        animation: blinker 1.5s linear infinite;
    }

    .e-kanban-dialog .e-kanban-form-wrapper table .e-label, .e-kanban-dialog .e-kanban-form-container table .e-label {
        width: 80px;
    }

    .e-kanban .e-deliveredText {
        padding - top: 5px;
        color: #ff0000;
    }

    @@keyframes blinker {
        50 % {
            opacity: 0.5;
        }
    }
</style>
