@model WMSAMG.Models.CSIS2017Models.TblReceivingDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TblReceivingDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReferenceCode" />
            <div class="form-group">
                <label asp-for="Rrcode" class="control-label"></label>
                <input asp-for="Rrcode" class="form-control" />
                <span asp-validation-for="Rrcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrierReferenceCode" class="control-label"></label>
                <input asp-for="CarrierReferenceCode" class="form-control" />
                <span asp-validation-for="CarrierReferenceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayTypeInitial" class="control-label"></label>
                <input asp-for="PayTypeInitial" class="form-control" />
                <span asp-validation-for="PayTypeInitial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockId" class="control-label"></label>
                <input asp-for="StockId" class="form-control" />
                <span asp-validation-for="StockId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockSku" class="control-label"></label>
                <input asp-for="StockSku" class="form-control" />
                <span asp-validation-for="StockSku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockGroupId" class="control-label"></label>
                <input asp-for="StockGroupId" class="form-control" />
                <span asp-validation-for="StockGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockPcsperPack" class="control-label"></label>
                <input asp-for="StockPcsperPack" class="form-control" />
                <span asp-validation-for="StockPcsperPack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockPackperCase" class="control-label"></label>
                <input asp-for="StockPackperCase" class="form-control" />
                <span asp-validation-for="StockPackperCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualWeight" class="control-label"></label>
                <input asp-for="ActualWeight" class="form-control" />
                <span asp-validation-for="ActualWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uom" class="control-label"></label>
                <input asp-for="Uom" class="form-control" />
                <span asp-validation-for="Uom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivingTime" class="control-label"></label>
                <input asp-for="ReceivingTime" class="form-control" />
                <span asp-validation-for="ReceivingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockWeightinKilosperPack" class="control-label"></label>
                <input asp-for="StockWeightinKilosperPack" class="form-control" />
                <span asp-validation-for="StockWeightinKilosperPack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockWeightinKilosperCase" class="control-label"></label>
                <input asp-for="StockWeightinKilosperCase" class="form-control" />
                <span asp-validation-for="StockWeightinKilosperCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PalletNo" class="control-label"></label>
                <input asp-for="PalletNo" class="form-control" />
                <span asp-validation-for="PalletNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageLocationId" class="control-label"></label>
                <input asp-for="StorageLocationId" class="form-control" />
                <span asp-validation-for="StorageLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageId" class="control-label"></label>
                <input asp-for="StorageId" class="form-control" />
                <span asp-validation-for="StorageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StorageTypeId" class="control-label"></label>
                <input asp-for="StorageTypeId" class="form-control" />
                <span asp-validation-for="StorageTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionDate" class="control-label"></label>
                <input asp-for="TransactionDate" class="form-control" />
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nature" class="control-label"></label>
                <input asp-for="Nature" class="form-control" />
                <span asp-validation-for="Nature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedBy" class="control-label"></label>
                <input asp-for="ApprovedBy" class="form-control" />
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeDate" class="control-label"></label>
                <input asp-for="EmployeeDate" class="form-control" />
                <span asp-validation-for="EmployeeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSaved" class="control-label"></label>
                <input asp-for="IsSaved" class="form-control" />
                <span asp-validation-for="IsSaved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
