@*@model IEnumerable<AngularwithBootstrapProj.Models.Department>*@
@*@model AngularwithBootstrapProj.Models.Department;*@
@{
    ViewBag.Title = "Index";
}
<script src="~/js/angular.js"></script>
<script src="~/js/bootstrap-sortable.js"></script>
<link rel="stylesheet" href="~/css/bootstrap-sortable.css" />
<h2>Index</h2>
<div ng-app="myApp">

    <div ng-controller="myCtrl" ng-init="GetAllData()" class="divList">
        <p>List of Employee</p>
        <div class="table-responsive-lg">
            <table cellpadding="12" class="table table-bordered table-condensed table-striped table-hover sortable">
                @*@if (@model.Count() == 0)
                    {
                        <tr>
                            <td colspan="10">No Record's found</td>
                        </tr>
                    }
                    else {*@
                <thead>
                    <tr class="alert-danger">
                        <th data-defaultsign="_19">
                            ID
                        </th>
                        <th data-defaultsign="AZ">
                            EnrollNo
                        </th>
                        <th data-defaultsign="AZ" data-firstsort="asc">
                            Name
                        </th>
                        <th data-defaultsign="AZ">
                            Gender
                        </th>
                        <th data-defaultsign="_19">
                            Birthdate
                        </th>
                        <th data-defaultsign="AZ">
                            Email
                        </th>
                        <th data-defaultsign="AZ">
                            Position
                        </th>
                        <th data-defaultsign="AZ">
                            Department
                        </th>
                        <th data-defaultsign="AZ">
                            Company
                        </th>
                        <th data-defaultsign="AZ">
                            Att Group
                        </th>
                        <th data-defaultsort="disabled">
                            Actions
                        </th>

                    </tr>
                </thead>
                <tr ng-repeat="EmpModel in employees">
                    <td>
                        {{EmpModel.EmployeeId}}
                    </td>
                    <td>
                        {{EmpModel.EnrollNo}}
                    </td>
                    <td>
                        {{EmpModel.FullName}}
                    </td>
                    <td>
                        {{EmpModel.EmployeeGender}}
                    </td>
                    <td>
                        {{EmpModel.EmployeeBdate}}
                    </td>
                    <td>
                        {{EmpModel.EmployeeEmail}}
                    </td>
                    <td>
                        {{EmpModel.EmployeePosition}}
                    </td>
                    <td>
                        {{EmpModel.DepartmentName}}
                    </td>
                    <td>
                        {{EmpModel.CompanyInitial}}
                    </td>
                    <td>
                        {{EmpModel.Attgroup}}
                    </td>
                    <td>
                        <input type="button" class="btn btn-warning" value="Update" ng-click="getEmployee(EmpModel)" />
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteEmp(EmpModel)" />
                    </td>
                </tr>
                @*}*@
            </table>
        </div>
        <form name="empForm">
            <div class="form-horizontal" role="form">

                <div class="container">
                    <div class="row">
                        <h2><span id="spn">Add New Employee</span></h2>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Name:</label>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" id="EnrollNo" placeholder="EnrollNo" name="EnrollNo" required ng-required="true" ng-model="EmpModel.EnrollNo">
                                    @*<span class="error" ng-show="empForm.Name.$error.minlength">Required!</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Name:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Name" name="Name" required ng-required="true" ng-minlength="3" ng-maxlength="100" ng-model="EmpModel.EmpName">
                                    @*<span class="error" ng-show="empForm.Name.$error.minlength">Required!</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Gender:</label>
                                <div class="col-md-8">
                                    <input type="radio" value="Male" name="gender" ng-model=EmpModel.EmployeeGender> Male
                                    <input type="radio" value="Female" name="gender" ng-model=EmpModel.EmployeeGender> Female
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Birthdate:</label>
                                <div class="col-md-8">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Department:</label>
                                <div class="col-md-12">
                                    <select ng-model="selectedDept" class="form-control" id="dept" ng-options="dt.DeptName for dt in departments track by dt.DeptCode">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="empForm.$valid && InsertData()" style="background-color:cornflowerblue" />

                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                                <input type="button" id="btnCancel" class="form-control btn-space" value="Cancel" ng-click="GetAllData()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Html.Hidden("{ { EmpModel.DeptCodeNavigation} }")
                @Html.Hidden("{ { EmpModel.EmpId} }")*@
        </form>
    </div>

</div>

<script>

    var app = angular.module('myApp', []);

    app.controller('myCtrl', function ($scope, $http) {
        GetAllData();
        //Get All Employees
        function GetAllData() {
            $http.get('/Employee/Get_AllEmployee')
                .then(function (response) {
                    $scope.employees = response.data;
                });


            $http.get('/Department/Get_AllDepartment')
                .then(function (response) {
                    $scope.departments = response.data;
                    if ($scope.departments.length > 0) {
                        $scope.selectedDept = $scope.departments[0];
                    }
                });

        };

        //Insert Employee
        $scope.InsertData = function () {

            var Action = document.getElementById("btnSave").getAttribute("value");
            $scope.EmpModel.DeptCode = $scope.selectedDept.DeptCode;

            if (Action == "Submit") {

                $.ajax({
                    type: 'POST',
                    url: '/Employee/InsertEmployee',
                    data: JSON.stringify($scope.EmpModel),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        GetAllData();
                        $scope.EmpModel = null;
                        console.log(data)
                    }
                });

            } else {

                $.ajax({
                    type: 'PUT',
                    url: '/Employee/UpdateEmployee',
                    data: JSON.stringify($scope.EmpModel),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        GetAllData();
                        $scope.EmpModel = null;
                        document.getElementById("btnSave").setAttribute("value", "Submit");
                        document.getElementById("btnSave").style.backgroundColor = "cornflowerblue";
                        document.getElementById("spn").innerHTML = "Add New Employee";
                        console.log(data)
                    }
                });
            }
            GetAllData();
        };

        //Delete Employee
        $scope.DeleteEmp = function (EmpModel) {

            varIsConf = confirm('Want to delete ' + EmpModel.EmpId + '. Are you sure?');
            if (varIsConf) {
                $http.delete('/Employee/DeleteEmployee/' + EmpModel.EmpId)
                    .then(function () {
                        $scope.errors = [];
                        GetAllData();
                        alert(EmpModel.EmpName + " Deleted Successfully!!");
                    });

            }
        };

        //Get Employee by id to edit
        $scope.getEmployee = function (EmpModel) {
            $http.get('/Employee/getById/' + EmpModel.EmpId)
                .then(function (response, status, headers, config) {
                    //GetAllData();

                    $scope.EmpModel = response.data;
                    $scope.EmpModel.DeptCode = response.data.DeptCode;
                    $scope.selectedDept.DeptCode = response.data.DeptCode;

                    document.getElementById("btnSave").setAttribute("value", "Update");
                    document.getElementById("btnSave").style.backgroundColor = "Yellow";
                    document.getElementById("spn").innerHTML = "Update Employee Information";
                });

        };
    })

    //$http({
                //    method: 'POST',
                //    url: '/Employee/InsertEmployee',
                //    //contentType: 'application/json',
                //   //data: JSON.stringify($scope.EmpModel)
                //    data: $scope.EmpModel.data
                //})
                //    .then(function successCallback(response) {

                //    GetAllData();
                //    $scope.EmpModel = null;
                //    alert("Added Successful");

                //});
</script>

